@use "../../../../common/styles/scss" as *;

:global(.keekijanai-reset) {
  .comment-editor-root {
    .edit-container {
      border: 1px solid $grey-300;

      :global(.DraftEditor-root) {
        padding: 10px;
        min-height: 60px;
        max-height: 300px;
      }
      :global(.public-DraftEditorPlaceholder-root) {
        position: "relative";
      }
      :global(.public-DraftEditorPlaceholder-inner) {
        position: "absolute";
        left: 0;
        top: 0;
        color: $grey-300;
      }
    }

    .read-container {
    }

    .panel {
      display: flex;
      justify-content: space-between;
    }

    .action {
      display: flex;
      gap: 1;
    }

    .toolbar-button {
      outline: none;
      border: none;
      background-color: white;
      cursor: pointer;
      color: $grey-500;
      font-size: 1.3em;

      &:hover {
        color: $grey-600;
      }

      .active {
        color: $primary;

        &:hover {
          color: $primary-dark;
        }
      }
    }
  }
}
