/target
.env
node_modules
dist

keekijanai_config.yml

*.log

/packages/keekijanai-gatsby-vercel-demo/public
/packages/keekijanai-gatsby-vercel-demo/.cache
/packages/keekijanai-gatsby-vercel-demo/.vercel
/packages/keekijanai-gatsby-vercel-demo/api/target