.cache
/target

node_modules
dist

*.log

/packages/**/target

/packages/keekijanai-gatsby-vercel-demo/public
/packages/keekijanai-gatsby-vercel-demo/.cache
/packages/keekijanai-gatsby-vercel-demo/.vercel

.docusaurus