@use "sass:color" as color;
@use "../../common/styles/scss" as *;

:global(.keekijanai-reset) {
  .toc-root {
    .toc-static-item-list {
      .toc-item-container {
        display: block;
        cursor: pointer;
        font-size: 0.9em;
        color: $grey-900;
        transition: color 0.2s;

        &:hover {
          color: $primary;
        }

        .toc-item-text {
        }
      }
    }

    .toc-item-list {
      $list-width: 200px;

      width: $list-width;
      max-height: 600px;
      overflow-y: auto;
      position: relative;

      .toc-item-container {
        display: block;
        cursor: pointer;
        font-size: 0.85em;
        color: $grey-900;
        border-radius: $common-radius;

        .toc-item-text {
          padding: #{spacing(1)} 0;

          &.active {
            color: $primary;
          }
        }

        &:not(.active):hover {
          background-color: $grey-hover-bg;
        }
      }

      .toc-active-indicator-root {
        position: absolute;
        left: 0;
        top: 0;
        height: 0;
        width: $list-width;
        border-radius: 0.2em;
        overflow: hidden;
        z-index: -1;
        transition: height 0.2s, top 0.2s;

        .toc-active-indicator {
          height: 100%;
          background-color: $primary-x-light;
          border-left: 3px solid $primary;
        }
      }
    }
  }
}
