@use "../../common/styles/scss" as *;

:global(.keekijanai-reset) {
  .reference-root {
    .reference-container {
      border-radius: 0.4em;
    }

    .reference-header-title {
      display: flex;
      align-items: baseline;
      font-size: $typography-h5-fontSize;
      margin: 0;
      letter-spacing: spacing(0.2);
      cursor: default;

      .icon {
        color: $primary;
        font-size: 14px;
        width: 25px;
      }
    }

    .reference-list {
      padding-left: spacing(5);
    }

    .reference-list-item {
      .reference-list-item-link {
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.2s;

        &::before {
          display: inline-block;
          content: " ";
          width: 5px;
          height: 5px;
          border-radius: 100%;
          background-color: $grey-400;
          margin-right: spacing(2);
        }

        &:hover {
          background-color: $grey-hover-bg;
        }

        text-decoration: none;
        font-size: 0.9em;
        padding: #{spacing(2)};
        border-radius: 4px;
      }
    }
  }
}
