@use "./reset.scss" as *;

:root {
  --keekijanai-root-primary: #3498db;
  --keekijanai-root-primary-light: #bee2ff;
  --keekijanai-root-primary-x-light: #dfeffc;
  --keekijanai-root-primary-dark: #1c89d1;
  --keekijanai-root-primary-text: rgb(45, 45, 45);
  --keekijanai-root-primary-contrast-text: white;
  --keekijanai-root-primary-paper: white;
  --keekijanai-root-typography-h4-fontSize: 1.5em;
  --keekijanai-root-typography-h5-fontSize: 1.25em;
}
