/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   modify from reset css
*/

$base-font-size: 1rem;

.keekijanai-reset {
  font-size: $base-font-size;

  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: $base-font-size;
    vertical-align: baseline;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    box-sizing: content-box;
    display: block;
  }
  ol,
  ul {
    box-sizing: content-box;
    list-style: none;
  }
  blockquote,
  q {
    box-sizing: content-box;
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    box-sizing: content-box;
    content: "";
    content: none;
  }
  table {
    box-sizing: content-box;
    border-collapse: collapse;
    border-spacing: 0;
  }

  // custom
  button {
    box-sizing: content-box;
    outline: none;
    border: none;
    background-color: inherit;
    padding: 0;
    margin: 0;
    &:hover {
      background-color: inherit;
    }
  }
}
