@use "../../common/styles/scss" as *;

.auth-modal-root {
  .oauth2-button {
    padding: #{spacing(2)} #{spacing(2)};
    background-color: $primary-paper;
    border-radius: $common-radius;
    transition: background-color 0.2s, color 0.2s;
    box-shadow: 0 0 2px 0 $grey-400;
    cursor: pointer;

    &:hover:enabled {
      background-color: $primary;
      border-color: $primary;
      color: $primary-contrast-text;
      box-shadow: 0 0 2px 0 $primary;
    }
    &:disabled {
      cursor: not-allowed;
    }
  }

  .modal-title {
    margin: #{spacing(2)} 0;
    font-size: $typography-h5-fontSize;
    display: flex;
    justify-content: center;
  }

  .modal-content {
    width: 400px;
    padding: spacing(4);
    background-color: $primary-paper;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
  }
}

.redirect-root {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $grey-100;

  .redirect-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 400px;
    padding: #{spacing(6)} 0;
    border-radius: 10px;

    .redirect-title {
      font-size: $typography-h4-fontSize;
      margin: #{spacing(1)} 0;
    }
    .redirect-content {
      color: $grey-700;
    }
    .redirect-panel {
      margin-top: spacing(3);
      display: flex;
    }
    .icon {
      font-size: 48px;
      color: $primary;
    }
  }
}
