@import 'draft-js/dist/Draft.css';
@import 'react-draft-wysiwyg/dist/react-draft-wysiwyg.css';


.__Keekijanai__Comment-reference-editor-container {
  max-height: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.__Keekijanai__Comment-post-editor-container {
  margin-top: 20px;
}

.__Keekijanai__Comment-post-editor {
  border: 1px solid rgb(233, 233, 233);
  padding: 10px;
  min-height: 10rem;
}

.__Keekijanai__Comment-post-editor-toolbar {
  color: black;
  margin-bottom: 0;
}

.__Keekijanai__Comment-post-editor-toolbar .rdw-option-wrapper {
  border: none;
}

.__Keekijanai__Comment-post-editor-toolbar .rdw-option-wrapper img {
}

.__Keekijanai__Comment-post-editor-toolbar .rdw-option-wrapper:hover {
  border: none;
  outline: none;
  background-color: #eee;
  box-shadow: none;
}

.__Keekijanai__Comment-post-editor-toolbar .rdw-dropdown-wrapper a {
  color: black;
}

.__Keekijanai__Comment_post-panel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 5px 0;
}

.__Keekijanai__Comment_sub-list-container {
  border: 1px solid rgb(226, 226, 226);
  border-radius: 2px;
  margin-top: 10px;
  padding: 15px;
}

.__Keekijanai__Comment_empty-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.__Keekijanai__Comment_empty-list-header {
  display: flex;
  align-items: center;
}

.__Keekijanai__Comment_empty-list-header-title {
  margin-right: 5px;
  font-size: 20px;
  font-weight: 400;
}

.__Keekijanai__Comment_empty-list-icon {
  font-size: 3rem;
}

.__Keekijanai__Comment_empty-list-text {
  font-size: 4rem;
}

.__Keekijanai__Comment_CommentHeader-container {
  display: flex;
  align-items: center;
}

.__Keekijanai__Comment_ReferenceComment-container {
  min-width: 200px;
}

.__Keekijanai__Comment_item-text {
  color: #bbb;
  font-weight: bold;
  margin: 0 5px;
}

.__Keekijanai__Comment_item-date {
  color: #bbb;
  margin: 0 5px;
}

.__Keekijanai__Comment_item-content {
  margin: 2px 0;
  padding-left: 25px; 
  line-height: 0.5rem;
}

.__Keekijanai__Comment_item-panel {
  display: flex;
  justify-content: flex-end;
}

.__Keekijanai__Comment_item-comment-button {}

.__Keekijanai__Comment_item-comment-button-activated {
  color: #22a7f0;
}