@import 'draft-js/dist/Draft.css';
@import 'react-draft-wysiwyg/dist/react-draft-wysiwyg.css';

.kkjn__comment {

}

.kkjn__comment .kkjn__reference-comment {
  max-height: 10rem;
  min-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.kkjn__comment .kkjn__comment-post {
  margin-top: 20px;
}

.kkjn__comment .kkjn__comment-post .kkjn__editor {
  border: 1px solid rgb(233, 233, 233);
  padding: 10px;
  min-height: 10rem;
}

.kkjn__comment .kkjn__comment-post .kkjn__toolbar {
  color: black;
  margin-bottom: 0;
}

.kkjn__comment .kkjn__comment-post .kkjn__toolbar .rdw-option-wrapper {
  border: none;
}

.kkjn__comment .kkjn__comment-post .kkjn__toolbar .rdw-option-wrapper .rdw-option-wrapper img {
}

.kkjn__comment .kkjn__comment-post .kkjn__toolbar .rdw-option-wrapper:hover {
  border: none;
  outline: none;
  background-color: #eee;
  box-shadow: none;
}

.kkjn__comment .kkjn__comment-post .kkjn__toolbar .rdw-dropdown-wrapper a {
  color: black;
}

.kkjn__comment .kkjn__comment-post .kkjn__panel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 5px 0;
}

.kkjn__comment .kkjn__sub-list {
  border: 1px solid rgb(226, 226, 226);
  border-radius: 2px;
  margin-top: 10px;
  padding: 15px;
}

.kkjn__comment .kkjn__empty-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.kkjn__comment .kkjn__empty-list .kkjn__icon {
  font-size: 3rem;
}

.kkjn__comment .kkjn__empty-list .kkjn__text {
  font-size: 4rem;
}



.kkjn__comment .kkjn__list .kkjn__header {
  display: flex;
  align-items: center;
}

.kkjn__comment .kkjn__list .kkjn__header .kkjn__title {
  margin-right: 5px;
  font-size: 20px;
  font-weight: 400;
}

.kkjn__comment .kkjn__comment-item .kkjn__header {
  display: flex;
  align-items: center;
}

.kkjn__comment .kkjn__comment-item .kkjn__header .kkjn__text {
  color: #bbb;
  font-weight: bold;
  margin: 0 5px;
}

.kkjn__comment .kkjn__comment-item .kkjn__header .kkjn__date {
  color: #bbb;
  margin: 0 5px;
}

.kkjn__comment .kkjn__comment-item .kkjn__content {
  margin: 2px 0;
  padding-left: 25px; 
  line-height: 0.5rem;
}

.kkjn__comment .kkjn__comment-item .kkjn__panel {
  display: flex;
  justify-content: flex-end;
}

.kkjn__comment .kkjn__comment-item .kkjn__button {}

.kkjn__comment .kkjn__comment-item .kkjn__button-activated {
  color: #22a7f0;
}