.kkjn__comment-editor {
  border: 1px solid rgb(236, 236, 236);
  border-radius: 4px;
}

.kkjn__comment-editor .kkjn__container {
  padding: 10px 15px;
}

.kkjn__comment-editor .kkjn__container .DraftEditor-root {
  min-height: 60px;
  font-size: 14px;
}

.kkjn__comment-editor .kkjn__toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(236, 236, 236);
}

.kkjn__comment-editor .kkjn__toolbar .kkjn__toolbar-style {
  display: flex;
  align-items: center;
}

.kkjn__comment-editor .kkjn__toolbar .kkjn__toolbar-post {
  display: flex;
  align-items: center;
}

.kkjn__comment-editor .kkjn__toolbar .kkjn__button {
	padding: 6px;
  color: rgba(0, 0, 0, 0.3);
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
}

.kkjn__comment-editor .kkjn__toolbar .kkjn__button-active {
	padding: 6px;
  color: rgba(0, 0, 0, 0.6);
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
}

.kkjn__comment-editor .kkjn__toolbar .kkjn__button-disabled {
	padding: 6px;
  color: rgba(0, 0, 0, 0.1);
	background: none;
	outline: none;
	border: none;
	cursor: not-allowed;
}

.kkjn__comment-editor .kkjn__toolbar .kkjn__button:hover {
  color: rgba(0, 0, 0, 0.7)
}

.kkjn__comment-editor .kkjn__toolbar .kkjn__button-active:hover {
  color: rgba(0, 0, 0, 0.9)
}