.kkjn__comment-post-view {
  margin-top: 10px;
}

.kkjn__comment-list-view__sub-list {
  margin: 10px 20px;
}

.kkjn__comment-list-view__loadmore {
  margin: 10px 0;

  .kkjn__loadmore-button {
    color: #22a7f0;
  }
}
