.kkjn__editor {
  position: relative;
  $cardRadius: 4px;
  $borderColor: rgb(209, 209, 209);
  $cardBorder: 1px solid #{$borderColor};

  border: $cardBorder;
  border-radius: #{$cardRadius};

  .DraftEditor-root {
    margin-top: 30px;
    padding: 10px;
    min-height: 60px;

    .DraftEditor-editorContainer {
      overflow: auto;

      figure {
        margin: 0;
      }

      .kkjn__image {
        max-width: 600px;
      }
    }
  }

  .kkjn__toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 25px;
    padding: 2px 0;
    border-bottom: $cardBorder;
  }
}
