.kkjn__editor-container {
  position: relative;
  $cardRadius: 4px;
  $borderColor: rgb(209, 209, 209);
  $cardBorder: 1px solid #{$borderColor};

  border: $cardBorder;
  border-radius: $cardRadius;

  .DraftEditor-root {
    padding: 10px;
    min-height: 60px;
    max-height: 300px;
    overflow: auto;
    position: relative;

    .public-DraftEditorPlaceholder-root {
      position: absolute;
      color: rgb(184, 184, 184);
    }

    .DraftEditor-editorContainer {

      figure {
        margin: 0;
      }

      .kkjn__image {
        max-width: 600px;
      }
    }
  }
}
