.kkjn__star {
  display: flex;
  align-items: center;
}

.kkjn__star .kkjn__stat {
  margin-right: 40px;
}

.kkjn__star .kkjn__btn-unactivated {
}

.kkjn__star .kkjn__btn-activated {
  color: #22a7f0;
}
