@use "../../common/styles/scss" as *;

:global(.keekijanai-reset) {
  $rad: 5px;
  $animation-duration: 0.2s;
  $default-bg-color: $grey-100;

  .collapse-root {
    border: 2px solid $default-bg-color;
    border-radius: $rad;
    &.expanded {
    }

    .controller-bar {
      background-color: $default-bg-color;
      padding: #{spacing(2)} #{spacing(2.5)};
      cursor: pointer;
      user-select: none;
      position: relative;
      overflow: hidden;
      transition: color $animation-duration;

      .expand-icon {
        transition: transform #{$animation-duration};

        &.expanded {
          transform: rotateZ(90deg);
        }
      }
    }
  }
}
