@use "../../common/styles/scss" as *;

:global(.keekijanai-reset) {
  .series-root {
    border-radius: 4px;
    transition: padding 0.2s;

    &:hover {
      padding: spacing(3);
      box-shadow: 0 0 4px 0 $grey-300;
    }

    &.expand {
      padding: spacing(3);
      box-shadow: 0 0 4px 0 $grey-300;
    }

    .series-header {
      display: flex;
      align-items: center;
      cursor: pointer;

      .series-title {
        font-size: $typography-h5-fontSize;
      }
      .icon {
        font-size: 14px;
        color: $primary;
        width: 25px;
      }
      .series-header-item {
        display: flex;
        align-items: center;

        .icon {
          width: 16px;
          height: 16px;
          font-size: 16px;
          color: inherit;
          transition: transform 0.2s;
          margin: 0 #{spacing(2)};

          &.expand {
            transform: rotate(90deg);
          }
        }

        .item-title {
          font-size: $typography-h5-fontSize;
          opacity: 1;
          transition: opacity 0.2s;

          &.expand {
            opacity: 0;
          }
        }
      }
    }
    .series-container {
      padding: spacing(1);
      padding-left: 25px;

      .series-item {
        border-radius: $common-radius;
        cursor: default;

        .content {
          padding: spacing(1.5) #{spacing(2)};
          border-radius: $common-radius;
          font-size: 0.9em;
        }

        &.disable {
          color: $grey-400;
        }

        &.match {
          background-color: $primary;
          color: $primary-contrast-text;

          .link {
            &.can-hover:hover {
              background-color: $primary-dark;
            }
          }
        }

        .link {
          display: block;
          text-decoration: none;

          &:hover {
            color: inherit;
          }

          &.can-hover {
            cursor: pointer;
            transition: background-color 0.2s;

            &:hover {
              background-color: $grey-hover-bg;
            }
          }
        }
      }
    }
  }
}
