.kkjn__article-list-core {
  $item-height: 22px;
  $item-padding-y: 8px;
  $item-padding-x: 16px;

  .ant-list-item {
    padding: 0 !important;

    &:hover {
      background-color: rgb(248, 248, 248);

      .kkjn__article-list-item {
        .kkjn__panel {
          border-left: 1px solid rgb(185, 185, 185);
          padding-left: 10px;
          margin-left: 10px;
          height: $item-height;
          display: block;
          position: relative;
        }
      }
    }

    .kkjn__article-list-item {
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      flex-grow: 1;
      padding: #{$item-padding-y} #{$item-padding-x};

      .kkjn__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
      }

      .kkjn__panel {
        display: none;
        right: 0;
        top: 0;
      }
    }
  }
}