.kkjn__space {
  @mixin margin-item($gap) {
    margin-right: $gap;
  
    &:last-child {
      margin-right: 0;
    }
  }

  $size: 10px;

  &.kkjn__vertical {
    &>.kkjn__space-margin-item {
      margin-bottom: $size;
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.kkjn__horizontal {
    display: flex;
    align-items: flex-start;

    &>.kkjn__space-margin-item {
      &.kkjn__xs {
        @include margin-item(4px)
      }
      &.kkjn__sm {
        @include margin-item(8px)
      }
      &.kkjn__md {
        @include margin-item(12px)
      }
    }
  }


}
