$size: 40px;

.avatar-root {
  width: $size;
  height: $size;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &.fallback-avatar {
    background-color: #ccc;
    color: white;
  }

  > img {
    width: $size;
    height: $size;
  }
}
