$size: 40px;

:global(.keekijanai-reset) {
  .avatar-root {
    width: inherit;
    height: inherit;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &.fallback-avatar {
      background-color: #ccc;
      color: white;
    }

    > img {
      width: $size;
      height: $size;
    }
  }
}
