@use "../common/styles/scss" as *;

:global(.keekijanai-reset) {
  .button-root {
    position: relative;
    font-size: 0.95em;
    border-radius: 0.25em;
    transition: background-color 0.2s;
    cursor: pointer;
    padding: #{spacing(1.5)} #{spacing(2.5)};
    transition: padding 0.2s;

    &:disabled {
      cursor: not-allowed;
    }

    &:hover {
      background-color: $grey-100;
    }
    &:active {
      background-color: $grey-200;
    }

    &.primary {
      color: $primary;

      &:not([disabled]):hover {
        background-color: $primary-x-light;
      }

      .loading-dot {
        .inner {
          background-color: $primary-x-light;
        }
      }
    }

    &.small {
      font-size: 0.8em;
    }

    &.contained {
      background-color: $grey-500;
      color: white;

      &:hover {
        background-color: $grey-600;
      }

      &.primary {
        background-color: $primary;
        color: $primary-contrast-text;

        &:disabled {
          opacity: 0.7;
        }

        &:not([disabled]):hover {
          background-color: $primary-dark;
        }
      }
    }

    &.loading {
      padding-left: spacing(5.5);
    }

    .loading-dot {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: spacing(2.5);

      .inner {
        background-color: $grey-400;
      }
    }
  }
}
