@use "../common/styles/scss" as *;

:global(.keekijanai-reset) {
  .button-root {
    font-size: 0.95em;
    border-radius: 0.25em;
    transition: background-color 0.2s;
    cursor: pointer;
    padding: #{spacing(1.5)} #{spacing(2.5)};

    &:hover {
      background-color: $grey-100;
    }
    &:active {
      background-color: $grey-200;
    }

    &.primary {
      color: $primary;

      &:hover {
        background-color: $primary-x-light;
      }
    }

    &.small {
      font-size: 0.8em;
    }

    &.contained {
      background-color: $grey-500;
      color: white;

      &:hover {
        background-color: $grey-600;
      }

      &.primary {
        background-color: $primary;
        color: $primary-contrast-text;

        &:hover {
          background-color: $primary-dark;
        }
      }
    }
  }
}
