@use "../common/styles/scss" as *;

:global(.keekijanai-reset) {
  &.confirm-popover-root {
    .confirm-popover-container {
      background-color: white;
      box-shadow: 0 0 4px 0px $grey-400;
      border-radius: 0.25em;

      .confirm-popover-content {
        padding: spacing(1.5);
      }

      .ok-button {
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}
