@use "../common/styles/scss" as *;

:global(.keekijanai-reset) {
  &.confirm-popover-root {
    .confirm-popover-container {
      background-color: white;
      box-shadow: 0 0 2px 2px $grey-300;
      border-radius: 0.25em;

      .confirm-popover-content {
        padding: spacing(1.5);
      }
    }
  }
}
