@use "../common/styles/scss" as *;

$size: 35px;

:global(.keekijanai-reset) {
  .icon-button-root {
    width: $size;
    height: $size;
    box-shadow: none;
    border-radius: 100%;
    cursor: pointer;
    transition: box-shadow 0.1s;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s, color 0.2s;

    &.active {
      background-color: $primary;
      color: $primary-contrast-text;

      &:hover {
        background-color: $primary-dark;
      }
    }

    &:hover {
      background-color: $grey-bg;
    }

    &.outlined {
      &.active {
        background-color: $primary-x-light;
        color: $primary;

        &:hover {
          background-color: $primary-light;
        }
      }
    }
  }
}
