// https://mui.com/base/react-modal/

:global(.keekijanai-reset).modal-root {
  position: fixed;
  z-index: 1300;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 2s;

  .modal-transition {
    opacity: 0;
    transition: opacity 2s;

    &.modal-open {
      opacity: 1;
    }
  }
}

:global(.keekijanai-reset) {
  .backdrop-root {
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
