.kkjn__user-component {
  display: inline-flex;
  align-items: center;
}

.kkjn__user-component .kkjn__username {
  color: #bbb;
  font-weight: bold;
  margin: 0 5px;
  font-family: Arial, Helvetica, sans-serif;
}