.kkjn__user-component {
  display: flex;
  align-items: center;
}

.kkjn__user-component .kkjn__username {
  color: #bbb;
  font-weight: bold;
  margin: 0 5px;
}

.kkjn__user-component.kkjn__skeleton .kkjn__username {
  width: 50px;
}
